# Crap
.DS_Store
.log

# Composer
composer.lock
vendor/

# Wordpress
.htaccess
wordpress/
wp-content/themes/scaffold/
wp-content/themes/scaffold-child/
wp-content/upgrade

# Plugins
!wp-content/plugins/
wp-content/plugins/*

# Ghost
!ghost/
ghost/*
!ghost/content
!ghost/config.js

# Grunt
node_modules

# Codekit
codekit-config.json