<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{DB_NAME}');

/** MySQL database username */
define('DB_USER', '{DB_USER}');

/** MySQL database password */
define('DB_PASSWORD', '{DB_PASSWORD}');

/** MySQL hostname */
define('DB_HOST', '{DB_HOST}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', '{DB_CHARSET}');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '{DB_COLLATE}');

/** Change wp-content location */
define( 'WP_CONTENT_DIR', dirname(__FILE__) . '/wp-content' );
define( 'WP_CONTENT_URL', '{PROJECT_URL}/wp-content' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         ',z+bYvN:+GcxDv~=Ttg8v$z.B^d];)1V7@3W{RkJ]CUW~v4)Zsiz@E0VvXR3yAh+');
define('SECURE_AUTH_KEY',  't14pE,DR14[.<1@mplbgV5+IXgeEDCAp2Ena#z#aR(Kx53D -:K;TdYiv-qYymjN');
define('LOGGED_IN_KEY',    'Z>_t&wUiE_%H<X!}vH9yBZ1%M!$V5w-dPDCon,InO(Ie!SvJz>0?r0YC8O#dTFL*');
define('NONCE_KEY',        '[U3$5Yr3~w24ydzVQe7}H&wU1SSmfYiim--IVr*e|_g`CFvz$Mkk;)C1dp|]K7zr');
define('AUTH_SALT',        '@ 5pwR3Afqw{|)jTC!cmgY5`^In8--jh|)<R (c: HPl:O_ !HFYQZ0jhV}V$oXx');
define('SECURE_AUTH_SALT', 'o9p?*4+l+w)[bC{Yc2Hz_Nlw%FG1W+X~#U>w 0mf6Wv>hua`^uh;U^3812Pk){fn');
define('LOGGED_IN_SALT',   '?j]D^X%Xe9C~J+?^0U~iW1P+l &Q~!RXu`s)`QYWO3fO0+=:+kZpOv;| HP-Bl@r');
define('NONCE_SALT',       'e]lrGmxkUxVc2[<0wqH@+=]!gh$MV]HBGP6f.U<re:sH0J$x-hV-#p~-7NoMMu!I');

{WP_KEYS}

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '{DB_PREFIX}';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define('WPLANG', '{WP_LANG}');

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', {WP_DEBUG});

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
